.card-standard-container {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(calc(300px - 2rem), 1fr));

  .card-standard {
    background-color: var(--card);
    overflow: hidden;
    padding: 20px;
    transition: all var(--anim);
    text-decoration: none;
    color: white;
    outline: 2px solid transparent;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
    }

    &:focus-visible {
      outline: 2px solid var(--green-200);
    }
  }
}
