.skills {
  .inner {
    .content {
      width: 100%;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(calc(300px - 2rem), 1fr));
    }

    ul {
      li {
        &.title {
          font-weight: 700;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
