.card-featured-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .card-featured {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0 0.5rem;
      opacity: 0.8;

      li {
        font-size: 0.8rem;
        color: white;

        a {
          color: inherit;
        }

        &::after {
          content: "/";
          margin-left: 0.5rem;
        }

        &:last-child {
          &::after {
            content: "";
            margin-left: 0;
          }
        }
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      &:nth-child(odd) {
        .media {
          order: 2;
        }
      }
    }

    .media,
    .content {
      flex: 1;
      overflow: hidden;
    }

    .media {
      img {
        border-radius: var(--b-rad);
        transition: transform var(--anim);
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 4rem 2rem;
      background-color: var(--card);
      border-radius: var(--b-rad);

      a {
        h3 {
          color: var(--green-200);
        }
      }
    }
  }
}
