.card-featured-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .card-featured {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0 0.5rem;
      opacity: 0.8;

      li {
        font-size: 0.8rem;
        color: white;

        a {
          color: inherit;
        }

        &::after {
          content: "/";
          margin-left: 0.5rem;
        }

        &:last-child {
          &::after {
            content: "";
            margin-left: 0;
          }
        }
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      &:nth-child(odd) {
        .media {
          order: 2;
        }
      }
    }

    .media,
    .content {
      flex: 1;
      overflow: hidden;
    }

    .media {
      border-radius: var(--b-rad);
      overflow: hidden;

      img {
        transition: transform var(--anim);
      }

      a:hover,
      a:focus {
        img {
          transform: scale(1.05);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 4rem 2rem;
      background-color: var(--card);
      border-radius: var(--b-rad);

      a {
        position: relative;

        h3 {
          display: inline;
          color: var(--green-200);
          transition: color var(--anim);
          position: relative;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.2rem;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: var(--green-200);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform var(--anim);
            z-index: -1;
          }
        }

        &:hover,
        &:focus {
          outline: none;

          h3 {
            color: white;

            &::after {
              background-color: white;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
