.card-featured-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .card-featured {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      &:nth-child(odd) {
        .media {
          order: 2;
        }
      }
    }

    a {
      text-decoration: none;

      h3 {
        color: var(--green-200);
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      opacity: 0.8;

      li {
        font-size: 0.8rem;

        &::before {
          content: "/";
          margin-right: 0.5rem;
        }

        &:first-child {
          &::before {
            content: "";
            margin-right: 0;
          }
        }
      }
    }

    .media,
    .content {
      flex: 1;
      border-radius: var(--b-rad);
      overflow: hidden;
    }

    .media {
      img {
        transition: transform var(--anim);
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 4rem 2rem;
      background-color: var(--card);
    }
  }
}
